{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    // Disable styling rules from the linter
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "error",
    "vue/no-multiple-template-root": "off"
  }
}
