@use "sass:string";
@use "sass:map";
@use "./variables" as *;
@use "./colors" as *;
@use "./mixins" as *;

// Spacing
@each $size-name, $child in $spacing {
  .p-#{$size-name} {
    padding: map.get($child, "xs");
  }

  @each $breakpoint, $size-value in $child {
    @include media($breakpoint) {
      .p-#{$breakpoint}-#{$size-name} {
        padding: $size-value;
      }
    }

    @each $side in $sides {
      $s: string.slice($side, 1, 1);

      .p-#{$s}-#{$size-name} {
        padding-#{$side}: $size-value;
      }

      @include media($breakpoint) {
        .p-#{$s}-#{$breakpoint}-#{$size-name} {
          padding-#{$side}: $size-value;
        }
      }
    }
  }
}

// Display
@include generate-class-by-breakpoint(d-flex) {
  display: flex;
}

@include generate-class-by-breakpoint(d-grid) {
  display: grid;
}

@include generate-class-by-breakpoint(d-none) {
  display: none;
}

@include generate-class-by-breakpoint(d-block) {
  display: block;
}

@include generate-class-by-breakpoint(d-inline) {
  display: inline;
}

@include generate-class-by-breakpoint(d-inherit) {
  display: inherit;
}

@include generate-class-by-breakpoint(sticky) {
  position: sticky;
  top: 0;
}

// Text
// Text sizes
@each $size-name, $child in $text-sizes {
  .#{$size-name} {
    @each $breakpoint, $size-value in $child {
      @include media($breakpoint) {
        font-size: $size-value;
      }
    }
  }
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 600;
}

.mono-font {
  font-family: $mono-font;
}

.lowercase {
  text-transform: lowercase;
}

.text-color-primary {
  color: $primary;
}

// Background
.bg-black {
  background-color: $bg-black;
}

@include generate-class-by-breakpoint(bg-black-a-90) {
  background-color: $bg-black-a-90;
}

@include generate-class-by-breakpoint(bg-black-a-80) {
  background-color: $bg-black-a-80;
}

@include generate-class-by-breakpoint(bg-black-a-50) {
  background-color: $bg-black-a-50;
}

@include generate-class-by-breakpoint(bg-trans) {
  background-color: transparent;
}

// Borders
.border-white {
  outline: $text-color 1px solid;
}

// Flex
.column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

// Sizing
@include generate-class-by-breakpoint(full-width) {
  width: 100%;
}

@include generate-class-by-breakpoint(width-inherit) {
  width: inherit;
}

// .full-width {
// }

// Misc
.pointer-events-none {
  pointer-events: none;
}
