@use "sass:color";

// Main colors
$primary: blue;
$secondary: #e4a79d;

// Text colors
$text-color: #fff;

// Background colors
$bg-black: #000;
$bg-black-a-80: color.change($bg-black, $alpha: 0.8);
$bg-black-a-90: color.change($bg-black, $alpha: 0.9);
