@use "sass:color";

// Main colors
$primary: blue;
$secondary: #e4a79d;

// Text colors
$text-color: #fff;

// Background colors
$bg-color: #000;
$bg-color-trans-90: color.change($bg-color, $alpha: 0.9);
