@use "sass:map";
@use "./variables" as *;

@function get-breakpoint($breakpoint) {
  @return map.get($breakpoint-map, $breakpoint);
}

@mixin media($breakpoint) {
  @if $breakpoint != "xs" {
    @media screen and (min-width: #{get-breakpoint($breakpoint)}) {
      @content;
    }
  } @else {
    @content;
  }
}
