@use "sass:map";
@use "./variables" as *;

@function get-breakpoint($breakpoint) {
  @return map.get($breakpoint-map, $breakpoint);
}

@mixin media($breakpoint) {
  @if $breakpoint != "xs" {
    @media screen and (min-width: #{get-breakpoint($breakpoint)}) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-max($breakpoint) {
  @if $breakpoint != "xxl" {
    @media screen and (max-width: #{get-breakpoint($breakpoint) }) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin generate-class-by-breakpoint($prefix) {
  .#{$prefix} {
    @content;
  }

  @each $breakpoint, $_ in $breakpoint-map {
    @if $breakpoint != "xs" {
      @include media($breakpoint) {
        .#{$prefix}-#{$breakpoint} {
          @content;
        }
      }
    }
  }
}
