.btn {
  --transition-duration: 150ms;

  display: flex;
  align-items: center;
  border: none;
  color: var(--color-bg-black);
  width: fit-content;
  background-color: var(--color-primary);
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: lowercase;
  padding: 5px 10px;
  outline: 1px var(--color-primary) solid;
  cursor: pointer;
  transition:
    background-color var(--transition-duration) ease-in-out,
    color var(--transition-duration) ease-in-out,
    outline-color var(--transition-duration) ease-in-out;

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-bg-black);
  }

  &:active,
  &:focus {
    color: var(--color-bg-black);
    background-color: var(--color-primary);
  }

  &:focus {
    outline: 2px var(--color-text) dashed;
  }

  &:disabled {
    cursor: not-allowed;
    outline-color: var(--color-disabled);
    background-color: var(--color-disabled);
    color: var(--color-bg-black);
  }

  .icon-wrapper {
    margin-left: 0.8rem;
  }
}

.link {
  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--color-primary);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px solid var(--color-primary);
    text-decoration: none;
  }
}
