@custom-media --sm (min-width: 36em);
@custom-media --md (min-width: 48em);
@custom-media --lg (min-width: 62em);
@custom-media --xl (min-width: 75em);
@custom-media --xxl (min-width: 87.5em);

:root {
  /* Colors */
  --color-primary: oklch(86.645% 0.2948 142.511deg);
  --color-error: oklch(62.793% 0.2576 29.223deg);
  --color-disabled: oklch(75.402% 0 271.152deg);
  --color-text: oklch(100% 0 0deg);
  --color-bg-black-value: 0% 0 0deg;
  --color-bg-black: oklch(var(--color-bg-black-value));

  /* Spacing */
  --spacing-09: 16px;
  --spacing-1: 25px;
  --spacing-2: 33px;
  --spacing-3: 50px;

  /* Font sizes (from typescale.com) */
  --t-h1: 2.986rem;
  --t-h2: 2.488rem;
  --t-h3: 2.074rem;
  --t-h4: 1.728rem;
  --t-h5: 1.44rem;
  --t-h6: 1.2rem;
  --t-p: 1rem;
  --t-small: 0.833rem;

  /* Font families */
  --font-regular: roboto, arial, helvetica, sans-serif;
  --font-mono: "Roboto Mono", arial, helvetica, sans-serif;
  --font-title: var(--font-mono);
  --font-content: var(--font-regular);
}

/* Default styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  text-transform: lowercase;
  margin-block: 0;
}

/* Nuxt devtools fix */
#nuxt-devtools-container {
  display: none;
}

/* Fixes */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.btn {
  --transition-duration: 150ms;

  display: flex;
  align-items: center;
  color: var(--color-bg-black);
  width: fit-content;
  background-color: var(--color-primary);
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: lowercase;
  padding: 5px 10px;
  outline: 1px var(--color-primary) solid;
  cursor: pointer;
  transition:
    background-color var(--transition-duration) ease-in-out,
    color var(--transition-duration) ease-in-out,
    outline-color var(--transition-duration) ease-in-out;

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-bg-black);
  }

  &:active,
  &:focus {
    color: var(--color-bg-black);
    background-color: var(--color-primary);
  }

  &:focus {
    outline: 2px var(--color-text) dashed;
  }

  &:disabled {
    cursor: not-allowed;
    outline-color: var(--color-disabled);
    background-color: var(--color-disabled);
    color: var(--color-bg-black);
  }

  .icon-wrapper {
    margin-left: 0.8rem;
  }
}
