@import "assets/fixes.css";
@import "assets/classes.css";

/* Breakpoints */
@custom-media --sm (min-width: 36em);
@custom-media --md (min-width: 48em);
@custom-media --lg (min-width: 62em);
@custom-media --xl (min-width: 75em);
@custom-media --xxl (min-width: 87.5em);

:root {
  /* Colors */
  --color-primary-l: 86.645%;
  --color-primary-c: 0.2948;
  --color-primary-h: 142.511deg;
  --color-primary-value: var(--color-primary-l) var(--color-primary-c) var(--color-primary-h);
  --color-primary: oklch(var(--color-primary-value));
  --color-primary-2: oklch(86.645% 0.25 142.511deg);
  --color-error: oklch(62.79% 0.2278 29.223deg);
  --color-disabled: oklch(75.402% 0 271.152deg);
  --color-text-l: 100%;
  --color-text-c: 0;
  --color-text-h: 0deg;
  --color-text-value: var(--color-text-l) var(--color-text-c) var(--color-text-h);
  --color-text: oklch(var(--color-text-value));
  --color-bg-black-value: 0% 0 0deg;
  --color-bg-black: oklch(var(--color-bg-black-value));
  --color-text-placeholder: oklch(75.4% 0 0deg);

  /* Spacing */
  --spacing-09: 16px;
  --spacing-1: 25px;
  --spacing-2: 33px;
  --spacing-3: 50px;

  /* Font sizes (from typescale.com) */
  --t-h1: 2.986rem;
  --t-h2: 2.488rem;
  --t-h3: 2.074rem;
  --t-h4: 1.728rem;
  --t-h5: 1.44rem;
  --t-h6: 1.2rem;
  --t-p: 1rem;
  --t-small: 0.833rem;

  /* Font families */
  --font-regular: roboto, arial, helvetica, sans-serif;
  --font-mono: "Roboto Mono", arial, helvetica, sans-serif;
  --font-title: var(--font-mono);
  --font-content: var(--font-regular);

  /* Animations */
  --page-transition-duration: 550ms;
}

/* Default styles */
body {
  color: var(--color-text);
  font-family: var(--font-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  text-transform: lowercase;
  margin-block: 0;
}
